<div id="<%= dom_id car %>" class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
    <p class="font-bold text-gray-950">Plate Number: <%= car.plate_number %></p>
    <p class="font-bold text-gray-950">Model: <%= car.model %></p>
    <p class="font-bold text-gray-950">Year: <%= car.year %></p>
    
    <% unless action_name == 'show' %>
        <button class="bg-blue-500 text-white rounded-md mt-2 px-2">
        <%= link_to "Show this car", car %>
        </button>
    <% end %>
</div>
